[Desktop Entry]
Name=Double Commander QT5
Comment=Double Commander QT5 is a cross platform open source file manager with two panels side by side.
Terminal=false
Icon=doublecmd
Exec=doublecmd-qt
Type=Application
Categories=Utility;FileManager;
Keywords=folder;manager;explore;disk;filesystem;orthodox;copy;queue;queuing;operations;
